.mod_tab_box {
    display: -webkit-box;
    width: 100%;
    height: 44px;
    background-color: #fff;
    position: fixed;
    top: 44px;
    left: 0;
    z-index: 2;
    @include border_top_half;
    @include border_bottom_half;
    a {
        display: block;
        line-height: 44px;
        -webkit-box-flex: 1;
        box-flex: 1;
        text-align: center;
        @include ellipsis;
        @include border_right_half;
        i {
            margin-left: 6px;
            &:before {
                -webkit-transition: 0.3s -webkit-transform;
                transition: 0.3s transform;
            }
        }
        &:last-child {
            border-right: none;
        }
        &.activated,
        &.active {
            background-color: #ccc;
        }
        &.active {
            i:before {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }
    .tab_content {
        position: absolute;
        top: 44px;
        left: 0;
        z-index: 1;
        width: 100%;
        height: auto;
        overflow: hidden;
        background-color: #fff;
        span {
            display: block;
            text-align: center;
            line-height: 40px;
            @include border_bottom_half;
        }
    }
}

.tab_back_drop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.1s opacity linear;
    transition: 0.1s opacity linear;
    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.paddingtop44 {
    padding-top: 44px;
}

.shop_list {
    background-color: #fff;
    li {
        padding: 10px 15px;
        @include border_bottom_half;
        h3 {
            color: #296ad4;
            font-size: 15px;
            margin-bottom: 5px;
        }
        p {
            font-size: 13px;
            color: #ffaa00;
            margin-bottom: 0;
            @include ellipsis;
            span {
                color: #999;
                display: inline-block;
                width: 45%;
                padding-left: 20px;
                vertical-align: top;
            }
        }
    }
}

.det_warp {
    padding: 10px 15px;
    background-color: #fff;
    .scroll {
        padding-bottom: 44px;
    }
    .det_title {
        font-size: 16px;
        font-weight: bold;
        color: #296ad4;
        @include ellipsis;
    }
    .det_address {
        font-size: 13px;
        color: #999;
        margin-bottom: 5px;
        @include ellipsis;
    }
    .det_attr {
        width: 100%;
        overflow: hidden;
        span {
            display: inline-block;
            @include border_half;
            background-color: #ffaa00;
            color: #fff;
            padding: 5px;
            font-size: 13px;
            line-height: 13px;
        }
    }
    .det_cont {
        padding-top: 10px;
        h3 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            color: #4e8ef7;
        }
        p {
            color: #999;
            margin-bottom: 3px;
            font-size: 13px;
        }
    }
    .det_job {
        @include border_top_half;
        margin-top: 5px;
        padding-top: 10px;
        h3 {
            font-size: 14px;
            font-weight: bold;
            color: #4e8ef7;
            a {
                float: right;
                font-size: 12px;
                @include border_half;
                padding: 3px;
                font-weight: normal;
                margin-top: -2px;
            }
        }
        .job_item {
            color: #ffaa00;
            font-size: 14px;
            span {
                color: #333;
                display: inline-block;
                width: 45%;
            }
            p {
                color: #999;
                font-size: 13px;
            }
        }
    }
}

.det_contact {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 44px;
    background-color: #4e8ef7;
    color: #fff;
    text-align: left;
    padding-left: 20px;
    span {
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
    }
}
