<header-bar title="找工作"></header-bar>
<ion-view>
    <div class="mod_tab_box">
        <a class="tab" ng-click="tabSwitch(1)">全杭州<i class="icon ion-arrow-down-b"></i></a>
        <a class="tab" ng-click="tabSwitch(2)">全部薪资<i class="icon ion-arrow-down-b"></i></a>
        <a class="tab" ng-click="tabSwitch(3)">发型师<i class="icon ion-arrow-down-b"></i></a>
        <div class="tab_content ng-hide">
            <span>11111111111111</span>
            <span>22222222222222</span>
            <span>33333333333333</span>
            <span>44444444444444</span>
            <span>55555555555555</span>
            <span>66666666666666</span>
        </div>
        <div class="tab_content ng-hide"><span>222</span></div>
        <div class="tab_content ng-hide"><span>333</span></div>
    </div>
    <div ng-click="tabSwitch()" class="tab_back_drop"></div>
    <ion-content class="paddingtop44">
        <ul class="shop_list">
            <li page-jump data-router="qianxun.detail" data-options="{id:1234}">
                <h3>西湖区-永琪美发（西湖店）</h3>
                <p><span>发型师</span>底薪500+30%提成</p>
                <p><span>技师</span>底薪500+30%提成</p>
                <p><span>助理</span>底薪500+30%提成</p>
            </li>
            <li>
                <h3>西湖区-永琪美发（西湖店）</h3>
                <p><span>发型师</span>底薪500+30%提成</p>
                <p><span>技师</span>底薪500+30%提成</p>
                <p><span>助理</span>底薪500+30%提成</p>
            </li>
            <li>
                <h3>西湖区-永琪美发（西湖店）</h3>
                <p><span>发型师</span>底薪500+30%提成</p>
                <p><span>技师</span>底薪500+30%提成</p>
                <p><span>助理</span>底薪500+30%提成</p>
            </li>
        </ul>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="Deploy.isMore"></ion-infinite-scroll>
        <div class="mod_no_more" ng-if="!Deploy.isMore">没有更多数据了！</div>
    </ion-content>
</ion-view>
